a,
a:hover {
    color: #000;
    font-weight: bold;
}

body {
    background: #aaa;
    font: 1rem Consolas, monospace;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
}

html {
    background: #666;
    margin: 0;
    height: 100%;
    padding: 0;
}

h1 {
    background: #333;
    color: #fff;
    margin: 0 0 1.5rem 0;
    padding: 0.5rem;
}

h2,
h3 {
    margin: 0 0 1rem 0;
}

img {
    border: 0.3rem solid #222;
    display: block;
    margin: 1rem 0;
}

li {
    padding: 0.6rem;
}

ol {
    padding-top: 0.6rem;
}

ol ol li {
    list-style-type: lower-alpha;
}

section {
    padding: 0 0 2rem 0.5rem;
}

.grid {
    display: grid;
}

.grid div {
    padding: 0.5rem 1rem;
}

#metrics .grid {
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

#metrics .grid :nth-child(-n + 2),
#version-history .grid :nth-child(-n + 3) {
    background: #888;
    font-weight: bold;
}

#metrics .grid :nth-child(4n + 5),
#metrics .grid :nth-child(4n + 6),
#version-history .grid :nth-child(6n + 7),
#version-history .grid :nth-child(6n + 8),
#version-history .grid :nth-child(6n + 9) {
    background: #999
}

#version-history .grid {
    grid-template-columns: 0.2fr 0.3fr 1fr;
}
